*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #f2f2f2;
  }
  header {
    display: flex;
  justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
  }
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
      gap: 20px;
  }
  ul li{
    color: black;
  }
  .logo i{
    font-size: 20px;
    color: black;
   }
   .header-btns{
     background-color: #dfd9d9;
     border-radius: 10px;
     padding: 5px 10px;
   }
   .header-btns .btn-item1{
    padding: 7px 12px;
    border-radius: 10px;
    border: 0;
    background-color: #dfd9d9;
      }
      .header-btns .btn-item2{
        padding: 7px 10px;
        border-radius: 7px;
    border: 0;
    background-color: rgb(12, 11, 11);
    color: #f2f2f2;
      }
.container {
    display: grid;
    grid-template-areas: 
      "main section section"
      ". section1 section2";
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 45% 45% 10%;
    gap: 10px;
    width: 80%;
    margin: auto;
  }
  main {
    grid-area: main;
    padding: 20px;
 min-height:350px;
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
position: relative;
  }
  section {
    grid-area: section;
    display: grid;
    grid-template-areas: 
    "p icon"
    "h2 h2  " ;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px; 
    border-radius: 10px;
    padding: 20px;
  }
  .section1 {
    grid-area: section1;
    background-color: #941919;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-areas: 
    "p icon"
    "h2 h2  " ;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }
  .section2 {
    grid-area: section2;
    background-color: #777676;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-areas: 
    "p icon"
    "h2 h2  " ;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
  }
  .main-info{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
  }
  .main-info p{
    font-size: 12px;
    color: #a0a0a0;
  }
  .main-item2{
    width: 180px;
   margin-top: 10px;
  }
  .main-text{
    margin-top:25vh;
    background-color: #dfd9d9;
   display:flex;
   flex-direction: column;
justify-content: space-between;
align-items: flex-start;
border-radius: 10px;
padding: 10px 5px;
position: absolute;
margin-top: 220px;
  } 
  .main-text p{
padding: 5px;
  }
  .main-text div span{
    padding: 5px;
   color: black;
  }
  .main-text div i{
 color: black;
margin-left: 10vw;
font-size: 22px;
  }
  .main-text div{
    margin-top:5px;
  }
  .i2{
 font-size: 25px;
color: #e7e5e5;
  }
  section p,.section1 p, .section2 p {
    grid-area: p;
    align-self: start;
    justify-self: start;
  }
  section i,.section1 i .section2 i{
    grid-area: icon; 
     align-self: start;
    justify-self: start;
  }
  section h2,.section1 h2,.section2 h2{
    grid-area: h2;
    align-self: end;
    justify-self: start;
  }